ul.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 24px;
  margin-bottom: 36px;
}

.zone {
  box-sizing: border-box;
  position: relative;
}

.zone a {
  text-decoration: none;
}

.zone .thumb {
  display: block;
  background-position: bottom center;
  background-size: cover;
}

.zone.a {
  height: 425px;
  grid-column: 1 / 3;
  grid-row: 1;
}

.zone.a a,
.zone.b a,
.zone.c a {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mask {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.zone.a .thumb,
.zone.b .thumb {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.zone.a a.surcycle {
  position: relative;
  display: inline-block;
  background-color: #ffffff80;
  color: #000;
  padding: 4px 4px;
  font-size: 1.25rem;
  margin-bottom: 8px;
  font-weight: 600;
}

.zone.a a.surcycle:hover,
.zone.a a.surcycle:active {
  background-color: #ffffff;
  transition: 0.2s;
}

.zone.a .text {
  position: absolute;
  bottom: 8px;
  left: 12px;
  width: 90%;
  color: #fff;
  font-family: QuicksandCF;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.zone.a .title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.5rem;
  margin: 0.25rem 0;
}

.zone.b {
  background-color: #963;
  grid-column: 3;
  grid-row: 1 / 3;
  margin-bottom: 85px;
}

.zone.c {
  height: 295px;
  grid-column: span 1;
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-end;
}

.zone.c a:hover,
.zone.c a:active,
.zone.c a:hover .label,
.zone.c a:active .label {
  background-color: #ccc;
  transition: 0.2s;
}

.zone.c .thumb {
  position: relative;
  height: 210px;
}

.zone.c .text {
  position: relative;
  flex: 1 0 auto;
  align-self: auto;
  width: 100%;
  height: 85px;
  align-self: stretch;
  text-align: center;
  color: #111;
}

.zone.c .label {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  top: -28px;
  left: 50%;
  bottom: 28px;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  padding: 0 12px;
  text-transform: uppercase;
  background-color: #fff;
  transform: translateX(-50%);
}

.zone.c .title {
  display: inline-block;
  overflow: hidden;
  margin-top: 16px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 1.125rem;
  font-family: QuicksandCF;
  text-transform: uppercase;
  /* white-space: nowrap; */
}

.zone.d {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  height: 210px;
}

.zone.d a.surcycle {
  flex: 0 1 auto;
  align-self: flex-end;
  padding-bottom: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.zone.d a.surcycle:hover,
.zone.d a.surcycle:active {
  color: #369;
}

.zone.d a.main {
  position: relative;
  flex: 1 1 auto;
  align-self: stretch;
  background-color: #eee;
  padding: 8px;
}

.zone.d a.main:hover,
.zone.d a.main:active {
  background-color: #ccc;
  transition: 0.2s;
}

.zone.d .title {
  font-family: QuicksandCF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}

.moreContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 36px;
}

.moreContainer a {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  background-color: #fc6;
  color: #960;
  border: solid 1px #9609;
  padding: 8px;
  min-width: 200px;
  text-align: center;
}

.moreContainer a:hover,
.moreContainer a:active {
  background-color: #eb5;
  transition: 0.2s;
}
